<% if goal.public || goal.user == current_user %>
<div align="left" hspace=20>
<p>_____________________________________</p>
<h4>Goal: <%= link_to "#{goal.title}", goal_url(goal) %></h4>
<p>Description: <%= goal.description %></p>
<% if goal.completed %>
  <h4>Completed!</h4>
<% end %>
<% if goal.user == current_user %>
<%= button_to "Remove Goal", goal_url(goal), method: :delete %>
<% end %>
<p>_____________________________________</p>
</div>
<% end %>