<h1>Completed Goals</h1>
<%= @goals.each do |goal| %>
  <% if goal.completed %>
	<p>---------------------------------</p>
  <h3><%= goal.title %></h3>
	<p><%= goal.description %></p>
	<p>---------------------------------</p>
	<% end %>
<% end %>
